.positions {
    width: 100%;
    font-size: 0.8rem;
}

.position-container {
    height : calc(100vh - 6.2rem);
    width : calc(100vw - 18rem);
}

.position-container-semi {
    height : calc((100vh - 16.5rem)/2);
    width : calc(100vw - 18rem);
    margin-bottom: 0.3rem;
    overflow-y: auto;
    position: relative;
    background-color: #ffffff;
}

.positions-table {
    width: 100%;
    border-collapse: collapse;
}

.positions-table th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.positions-table th,.positions-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 0.14rem solid #eee;
    background-color: #fff;
    height : 3rem;
}

.positions-row:hover td{
    background-color: var(--color-background-hover);
}

.total-gain-loss {
    display: flex;
    width : calc(100vw - 18rem);
    height: 3rem;
    float: right;
    background-color: #fff;
    margin-bottom: 0.14rem;
    margin-top: 0.14rem;
}

.total-gain-loss span {
    float: right;
    height: 100%;
    width: 100%;
    margin: auto auto auto auto;
    background-color: #fff;
    padding: 0.5rem;
    line-height: 1.9rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
}

.position-container-semi::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    background-color: #ffffff;
}

.position-container-semi::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}
.position-container-semi::-webkit-scrollbar-thumb
{
    background-color: #636060;
    border: 1px solid #fdfdfd;
    border-radius: 100px;
}

