.history-table {
    width : 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

.history-table th, .history-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 0.14rem solid #eee;
    background-color: #fff;
}


