.orders-container {
    width: 100%;
    margin-top: 0.47rem;
    margin-left: 0.3rem;
    margin-right: 1rem;
}

.order-buttons {
    background-color: #fff;
    margin-bottom : 0.25rem;
}

.order-buttons button {
    cursor : grab;
}

.orders-button {
    font-size: 0.8rem;
    margin-left: 1rem;
    border: none;
    height: 2rem;
    background-color: #fff;
}

.activeButton {
    color: blue;
    border-bottom: 0.07rem solid blue;
    background-color: var(--color-background-blue);
    font-weight: 500;
}
