.history-table {
    height: 80vh;
    overflow-x: auto;
}

.history-table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    background-color: #ffffff;
}

.history-table::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}
.history-table::-webkit-scrollbar-thumb
{
    background-color: #636060;
    border: 1px solid #fdfdfd;
    border-radius: 100px;
}