.OrderHistory {
    font-size: 0.8rem;
}

.order-history-table {
    height : calc(100vh - 13.3rem);
    width : calc(100vw - 18rem);
    overflow-x: auto;
    background-color: #ffffff;
}

.order-history-table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    background-color: #ffffff;
}

.order-history-table::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}
.order-history-table::-webkit-scrollbar-thumb
{
    background-color: #636060;
    border: 1px solid #fdfdfd;
    border-radius: 100px;
}