.portfolio {
    display: flex;
    flex-direction: column;
    margin-left: 0.3rem;
    margin-right: 1rem;
    margin-top: 0.47rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
}

.open-orders-container {
    font-size: 0.8rem;
    height : calc(100vh - 6.2rem);
    width : calc(100vw - 18rem);
    overflow-y: auto;
    background-color: #ffffff;
}

.image-cont {
    display: grid;
}

.image-cont img {
    width: 15rem;
    align-self: center;
    justify-self: center;
    height: 15rem;
    margin-top: 10%;
}

.image-cont p {
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    font-weight: 500;
}


.overflow-cont {
    height : calc(100vh - 4.2rem);
    width : calc(100vw - 18rem);
    overflow-x: auto;
}

.ticker-container {
    background-color: #fff;
}

.portfolio-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.1rem;
}

.portfolio-table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.portfolio-table th {
    height: 2.99rem;
}

.portfolio-table th, .portfolio-table td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 0.14rem solid #eee;
}

.overflow-cont::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0.47rem gb(255, 255, 255); 
    background-color: #ffffff;
}

.overflow-cont::-webkit-scrollbar
{
    width: 0.47rem;
    height: 0.47rem;
    background-color: #ffffff;
}
.overflow-cont::-webkit-scrollbar-thumb
{
    background-color: #636060;
    border: 0.07rem solid #fdfdfd;
    border-radius: 100px;
}