<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Minimal Portfolio</title>
</head>

<body>
    <div class="portfolio-container">
        <table class="portfolio-table">
            <thead>
                <tr class="heading">
                    <th>Stock Name</th>
                    <th>Qty</th>
                    <th>LTP</th>
                    <th>ATP</th>
                    <th>Inv.Amt</th>
                    <th>Mkt Value</th>
                    <th>Overall G/L</th>
                    <th>Day's G/L</th>
                </tr>
            </thead>
            <tbody>
                <tr class="portfolio-row" id="portfolio-row-0">
                    <td title="TATA CONSULTANCY SERV LT">TCS</td>
                    <td>3</td>
                    <td>3,884.60</td>
                    <td>3,885.04</td>
                    <td>11,655.12</td>
                    <td>11,653.80</td>
                    <td class="negative">-1.32% (-0.01%)</td>
                    <td class="positive">+69.90% (+0.60%)</td>
                </tr>
                <tr class="portfolio-row" id="portfolio-row-1">
                    <td title="TATA CONSULTANCY SERV LT">TCS</td>
                    <td>3</td>
                    <td>3,884.60</td>
                    <td>3,885.04</td>
                    <td>11,655.12</td>
                    <td>11,653.80</td>
                    <td class="negative">-1.32% (-0.01%)</td>
                    <td class="positive">+69.90% (+0.60%)</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>
