.ticker {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 2.5rem;
    width: 93%;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 0.8rem;
  }
  
  .ticker:hover {
    background-color: var(--color-background-hover);
  }
  
  .stockname {
    padding-top: 0.20rem;
    align-self: center;
    box-sizing: content-box;
  }
  
  .price-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    box-sizing: content-box;
  }
  
  .up-arrow,
  .down-arrow {
    margin-left: 2px;
    line-height: 0.8rem;
    font-size: 1rem;
    float: right;
  }
  
  .up-arrow {
    color: #008F75FF;
  }
  
  .down-arrow {
    color: #D64D4DFF;
  }

  