.hover-div {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    margin-left: 10%;
    margin-bottom: auto;
    margin-top: 0.5rem;
    padding: 0.3rem;
    background-color: #ffffff;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 0 0.7rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.hover-div button {
    font-size: 1rem;
    font-weight: 600;
    width: fit-content;
    padding: 0.2rem 0.5rem;
}

.button-buy {
    color: rgba(var(--color-text-green), 1);
    background-color: #ffffff;
    border: none;
    margin-left: 0.2rem;
    border-radius: 5px;
}

.button-buy:hover{
    background-color: rgba(var(--color-text-green), 1);
    color: #ffffff;
}

.button-sell {
    color: rgba(var(--color-text-red), 1);
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

.button-sell:hover{
    background-color: rgba(var(--color-text-red), 1);
    color: #ffffff;
    border: none;
}

.button-chart {
    color: #4f4c4c;
    border : none;
    background-color: #ffffff;
    margin-right: 0.2rem;
    border-radius: 5px;
}

.button-chart:hover{
    background-color: #747474;
    color: #ffffff;
    border: none;
}