.dropdown-menu {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 1rem;
}

.dropdowndel-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height : calc(100vh - 25.5rem);
}

.dropdowndel-container::-webkit-scrollbar-track ,.data-table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(255, 255, 255); 
    background-color: #ffffff;
}

.dropdowndel-container::-webkit-scrollbar ,.data-table::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #ffffff;
}

.dropdowndel-container::-webkit-scrollbar-thumb ,.data-table::-webkit-scrollbar-thumb
{
    background-color: #636060;
    border: 1px solid #fdfdfd;
    border-radius: 100px;
}

.positions-table {
    width: 100%;
    border-collapse: collapse;
}

.positions-table th,
.positions-table td {
    text-align: left;
    padding: 0.5rem;
}

.drop-heading {
    background-color: #eee;
    color: #000;
}

.del-stocks:hover {
    background-color: #ddd;
    cursor: pointer;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.modal-stockname, .modal-realised {
    flex: 1;
    text-align: left;
}

.modal-realised {
    text-align: right;
}

.additional-data {
    margin-top: 1rem;
}

.data-table {
    max-height : 30rem;
    overflow-y: auto;
}

.data-table .data-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.data-cell {
    flex: 1;
    padding: 0.25rem;
    text-align: center;
}

.data-header {
    font-weight: bold;
    background-color: var(--color-background-grey);
    display: flex;
    margin-bottom: 0.3rem;
    padding: 0.5rem;
}

.data-row:nth-child(odd) {
    background-color: #ffffff;
}

.data-row:nth-child(even) {
    background-color: var(--color-background-grey);
}
