.custom-searchbar-container {
    position: relative;
    margin-bottom: 0.1rem;
    margin-left: 1rem ;
    margin-top: 0.3rem;
}

.custom-search-container {
    display: flex;
    width: 16rem;
}

.custom-search-input {
    padding: 0.5rem;
    width: 13.6rem; /* Adjust width as needed */
    border: none;
    font-size: 0.8rem;
}

.custom-search-input:focus-visible {
    border: none;
    outline: 0;
}

.custom-search-results {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999; /* Ensure the dropdown is above other content */
    background-color: #fff;
    width: 16rem;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; 
    overflow-y: auto;
    font-size: 0.8rem;
}

.custom-search-result-item {
    cursor: pointer;
    width: 98%;
    overflow: hidden;
    margin-left: 0.2rem;
    margin-top: 0.8rem;
}

.custom-search-result-item:hover {
    background-color: #f0f0f0;
}

.custom-search-icon {
    margin-top: auto;
    margin-bottom: auto;
    height: 2rem;
    width: 2.4rem;
    background-color: #ffffff;
    font-size: large;
    display: flex;
    font-size: 1rem;
}

.fa-search {
    margin: auto 1rem;
}

.custom-result-div {
    display: flex;
    width: 15rem;
    margin-left: 0.5rem;
    padding: 0.3rem 0;
}
