/* home.css */

/* General Styles */

.App::-webkit-scrollbar {
    display: none;
  }
  
  .App {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
    overflow: auto;
  }
  
  .homepage {
    text-align: center;
    color: #333;
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  .header {
    box-sizing: border-box;
    background-color: #283593;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1rem;
    width: 100vw
  }
  
  .logos {
    height: 3.125rem;
    margin-right: 1.25rem;
  }
  
  .header p {
    font-size: 1.5rem;
    margin: 0;
    flex-grow: 1;
    text-align: left;
  }

  .intro-section h1 {
    font-size: 3rem;
  }
  
  nav {
    display: flex;
    gap: 0.625rem;
  }
  
  nav button {
    background-color: #fff;
    color: #283593;
    border: none;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    font-size: 1rem;
  }
  
  nav button:hover {
    background-color: #e3f2fd;
  }

  .intro-section li {
    text-align: left;
    font-size: large;
  }
  
  .intro-section,
  .features-section,
  .contact-section {
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    margin: 1.25rem 0;
    padding: 3.125rem 1.25rem;
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
  
  .intro-section h2,
  .features-section h2,
  .contact-section h2 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }
  
  .intro-section .intro-image {
    width: 100%;
    max-width: 37.5rem;
    height: auto;
    margin-bottom: 1.25rem;
  }
  
  .intro-section p,
  .contact-section p {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
  }
  
  .features-section {
    background-color: #f9f9f9;
  }
  
  .features-section h2 {
    margin-bottom: 2.5rem;
  }
  
  .feature {
    display: flex;
    background-color: #fff;
    padding: 1.25rem;
    margin: 0.625rem 0;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    text-align: left;
  }

  .feature img {
    margin: 2rem;
  }
  
  .feature h3 {
    font-size: 1.375rem;
    margin-bottom: 0.625rem;
  }
  
  .feature p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header p {
      text-align: center;
    }
  
    nav {
      flex-direction: column;
    }
  
    .intro-section,
    .features-section,
    .contact-section {
      padding: 1.25rem;
    }
  }
  