.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: #ffffff;
    padding: 0.5rem;
    font-size: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added box shadow */
    width: 100%;
    box-sizing: border-box;
}

.logo-container {
    width: auto;
    height: 100%;
}

.logo {
    height: 2rem;
}

.index-container {
    display: flex;
    flex-direction: row;
    margin-left: 1rem; /* Adjusted margin-left */
    margin-right: auto;
}

.splitter {
    margin: auto;
}

.index {
    display: flex;
    flex-direction: row; /* Used rem unit for margin */
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding: 0.4rem;
    border-radius: 2px;
}

.index:hover {
    cursor: grab;
    background-color: #e6e6e6;
}

.index-label {
    color: #000000;
}

.index-value {
    margin-left: 0.25em; /* Used em unit for margin */
}

.index-change {
    color: var(--color);
}

.green {
    color: rgba(var(--color-text-green), 1);
    font-weight: 600;
    /* animation: flash-green 0.3s ease; */
}
  
  @keyframes flash-green {
    0% { background-color: rgba(var(--color-text-green), 0.1); } 
    50% { background-color: rgba(var(--color-text-green), 0.05); } 
    100% { background-color: rgb(255, 255, 255); }
  }
  
  @keyframes flash-red {
    0% { background-color: rgba(var(--color-text-red), 0.1)} 
    50% { background-color: rgba(var(--color-text-red), 0.05); }
    100% { background-color: rgb(255, 255, 255); } 
  }

.red {
    color: rgba(var(--color-text-red), 1);
    font-weight: 600;
    /* animation: flash-red 0.3s ease; */
}

.icon-container {
    display: flex;
}

.icon {
    margin-right: 1rem; /* Used rem unit for margin */
    cursor: pointer;
    padding: 0.5rem;
}

.active-button {
    background-color: var(--color-text-blue-hover);
    border: 0.07rem solid transparent;
    border-radius: 0.3rem;
    color: #ffffff;
    font-weight: 600;
}
