.portfolio-row td {
    background-color: rgb(255, 255, 255);
    max-width: 95%;
    height: 3.2rem;
}

.portfolio-row:hover td {
    background-color: var(--color-background-hover);
}

.negative {
    color: #e74c3c; /* Red for negative values */
}

.positive {
    color: #048539; /* Green for positive values */
}

.portfolio-row {
    transition: background-color 0.3s ease-in-out;
}
