body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100vw; */
  height: 100vh;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  font-size: 14px;
}

@media (max-width: 950px) {
  html {
    font-size: 10px; 
  }
}

@media (max-width: 646px) {
  html {
    font-size: 8px; 
  }
}

@media (max-width: 530px) {
  html {
    font-size: 6px; 
  }
}

@media (max-width: 400px) {
  html {
    font-size: 4px;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 3px; 
  }
}

/* @media (max-width: 270px) {
  html {
    font-size: 3px; 
  }
}

@media (max-width: 200px) {
  html {
    font-size: 2px; 
  }
} */